body {
  background: transparent linear-gradient(208deg, #f0fbda 0%, #bef5ad 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
  height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
  margin: auto;
  width: 85%;
}

.main {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid #ffffff;
  border-radius: 70px;
  opacity: 1;
  backdrop-filter: blur(10px);
  margin: 50px;
  height: 100%;
  min-height: 100vh;
}

.btn-success,.btn-danger {
  background-color: var(--main);
  color: var(--white);
  font-weight: 700;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
}

.btn-danger{
  background-color: var(--error);
}

.btn-success:hover{
  background-color: #6e9940;
}

.btn-danger:hover{
  background-color: #cf4738;
}
